/git_toolbox_prj.xml
/dataSources.local.xml
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29.xml
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/teste_tecnico_4_development_database.XAO-8w/schema/information_schema.FNRwLQ.meta
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/teste_tecnico_4_development_database.XAO-8w/schema/information_schema.FNRwLQ.zip
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/teste_tecnico_4_development_database.XAO-8w/schema/pg_catalog.0S1ZNQ.meta
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/teste_tecnico_4_development_database.XAO-8w/schema/pg_catalog.0S1ZNQ.zip
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/postgres.edMnLQ.meta
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/teste_tecnico_4_development_database.XAO-8w/schema/public.abK9xQ.meta
/shelf/Uncommitted_changes_before_Update_at_05_10_2023_18_25_[Changes]/shelved.patch
/dataSources/dcec2813-100e-417a-a927-a4960eb86b29/storage_v2/_src_/database/teste_tecnico_4_development_database.XAO-8w.meta
/shelf/Uncommitted_changes_before_Update_at_05_10_2023_18_25__Changes_.xml
/shelf/Uncommitted_changes_before_Update_at_05_10_2023_18_25_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Update_at_05_10_2023_18_25_[Changes]/shelved.patch
